@model Battleship.Models.GameListViewModel
@{
    ViewData["Title"] = "Index";
}
<a href="~/Game/CreateGame" id="createGameBtn" class="btn btn-success">Create Game</a>
<h2>Active games: </h2>
@if (Model.PendingGames.Count() == 0)
{
    <p class="emptyGamesListMessage">Empty</p>
}
else
{
    <table class="gamesList">
        <tr>
            <th>№</th>
            <th>First Player</th>
            <th>Second Player</th>
            <th>State</th>
        </tr>
        @foreach (var game in Model.PendingGames)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.FirstPlayerUsername</td>
                <td>@game.SecondPlayerUsername</td>
                <td>@game.GameState</td>
                <td><a asp-controller="Game" asp-action="Game" asp-route-id="@game.Id">Resume</a></td>
            </tr>
        }
    </table>
}

<h2>My games waiting for second player: </h2>
@if (Model.PlayerFreeGames.Count() == 0)
{
    <p class="emptyGamesListMessage">Empty</p>
}
else
{
    <table class="gamesList">
        <tr>
            <th>№</th>
            <th>First Player</th>
            <th>Second Player</th>
            <th>State</th>
        </tr>
        @foreach (var game in Model.PlayerFreeGames)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.FirstPlayerUsername</td>
                <td>@game.SecondPlayerUsername</td>
                <td>@game.GameState</td>
            </tr>
        }
    </table>
}

<h2>Free games: </h2>
@if (Model.OthersFreeGames.Count() == 0)
{
    <p class="emptyGamesListMessage">Empty</p>
}
else
{
    <table class="gamesList">
        <tr>
            <th>№</th>
            <th>First Player</th>
            <th>Second Player</th>
            <th>State</th>
        </tr>
        @foreach (var game in Model.OthersFreeGames)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.FirstPlayerUsername</td>
                <td>@game.SecondPlayerUsername</td>
                <td>@game.GameState</td>
                <td><a asp-controller="Game" asp-action="JoinGame" asp-route-id="@game.Id">Join</a></td>
            </tr>
        }
    </table>
}
<link href="~/css/game.css" rel="stylesheet" />